#### 7.1 HW Questions

Que 1: Using EVregistry, Write a query to select the ModelYear, Make, and Model off all of the vehicles in the registry.

In [ ]:
SELECT ModelYear, Make, Model
FROM EVRegistry

Que 2: Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your reult set should have one column, ElectricVehicleType.

In [ ]:
SELECT DISTINCT ElectricVehicleType
FROM EVRegistry

Que 3: Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry.

In [ ]:
SELECT *
FROM EVRegistry
WHERE ElectricVehicleType = 'Battery Electric Vehicle (BEV)'

Que 4: Using the EVRegistry, wirte a query that returns the Make and Model of all of the EV's that have a BaseMSRP between 20000 and 35000?

In [ ]:
SELECT Make, Model
FROM EVRegistry
WHERE BaseMSRP BETWEEN 20000 AND 35000

#### 7.2 HW Questions

Que 1: Using EVRegistry, write a query to find a record where the City attribute is NULL. Return all of the available columns.

In [ ]:
SELECT *
FROM EVRegistry
WHERE City IS NULL

Que 2: Write a query to find the make, model, and ElectricVehicleType where the VIN number has that ends in '3E1EA1J'.

In [ ]:
SELECT Make, Model, ElectricVehicleType
FROM EVRegistry
WHERE VIN like '%3E1EA1J'

Que 3: Select the ModelYear, make, model, ElectricVehicleType, and range of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest.

In [ ]:
SELECT ModelYear, Make, Model, ElectricVehicleType, ElectricRange
FROM EVRegistry
WHERE Make = 'TESLA' OR Make = 'CHEVROLET'
ORDER BY Make, ModelYear DESC

Que 4: Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records.

In [ ]:
SELECT stationId, Count(SessionId) as sessions_counted
FROM EVCharging
GROUP BY StationId
ORDER BY sessions_counted DESC
LIMIT 5

Que 5: Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively.

In [ ]:
SELECT UserId, MIN(ChargeTimeHrs) AS 'MinTime', MAX(ChargeTimeHrs) AS 'MaxTime'
FROM EVCharging
WHERE chargeTimeHrs > 0.5
GROUP BY userId
ORDER BY 2, 3

#### 7.3 HW Questions

Que 1: Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points.

In [ ]:
SELECT Weekday, ROUND(AVG(chargeTimeHrs), 2) AS AVGCHARGETIME
FROM EVCharging
GROUP BY Weekday
ORDER BY 2 DESC 
LIMIT 1

Que 2: Using, EV charging, Find the total power consumed from charging EV's by each User. Return the userId and name the calculated column, totalPower. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users.

In [ ]:
SELECT userId, ROUND(SUM(kwhTotal), 2) AS totalPower
FROM EVCharging
GROUP BY userId
ORDER BY 2 DESC
LIMIT 15

Que 3: Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return type Facility and name the calculated column numStation. Order the result set from highest to lowest number of charging stations.

In [ ]:
SELECT df.typeFacility, (COUNT(stationId)) AS Station_Num
FROM dimFacility df
INNER JOIN factCharge fc
  ON fc.facilityID = df.FacilityKey
GROUP BY TYPEFACILITY
ORDER BY 1 DESC

Que 4: In your own words, Briefly explain Primary Keys and Foreign Keys.

The Primary Key is unique to the table and helps identify rows. The Foreign Key helps connect tables by referencing the Primary Key in another table.

Que 5: Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively. HINT: USE HAVING

In [ ]:
SELECT userId, ROUND(MIN(chargeTimeHrs), 2) AS MinTime, ROUND(MAX(chargeTimeHrs), 2) AS MaxTime
FROM EVCharging
GROUP BY userId
Having MinTime > 1.0
ORDER BY 2, 3